# Eat Safe, Love

## Notebook Set Up

In [4]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint
import json

In [5]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [8]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [10]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [12]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [17]:
# Find the establishments with a hygiene score of 20
query = db.establishments.find_one()use

# Use count_documents to display the number of documents in the result
#count = artifacts.count_documents({'culture': 'Nayarit'}) reference from class 

# Display the first document in the results using pprint

SyntaxError: invalid syntax (2079119803.py, line 2)

In [16]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene' : 20}

result = establishments.find(query)

# Use count_documents to display the number of documents in the result
establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(result[0])

SyntaxError: unmatched ')' (3908125862.py, line 7)

In [19]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [22]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query =

# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint

SyntaxError: invalid syntax (2513243106.py, line 2)

In [24]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [27]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =
limit =

# Print the results

SyntaxError: invalid syntax (3510804407.py, line 6)

In [29]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [32]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [34]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame